.post__content img:not(.emoji) {
  width:  600px !important;
  border: 2px solid black !important;
  height: auto !important;
  display: block !important;
  margin: 0 auto !important;
}

.post__content img.emoji {
  margin: 0 auto;
  vertical-align: sub;
}

.wrapper {
  max-width: 800px !important;
}

pre.highlight {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}
